In [1]:
import pandas as pd

In [3]:
budget_data = pd.read_csv("budget_data_1.csv")
budget_data.head()

     Date  Revenue
0  Oct-12  1154293
1  Nov-12   885773
2  Dec-12  -448704
3  Jan-13   563679
4  Feb-13   555394

In [8]:
#The total number of months included in the dataset
totalMonth=len(budget_data["Date"].unique())
totalMonth

41

In [13]:
#The total amount of revenue gained over the entire period
totalRevenue = budget_data["Revenue"].sum()
totalRevenue

18971412

In [14]:
#The average change in revenue between months over the entire period

            Revenue
count  4.100000e+01
mean   4.627174e+05
std    5.660821e+05
min   -1.172384e+06
25%    1.738260e+05
50%    5.636790e+05
75%    8.839340e+05
max    1.195111e+06

In [ ]:
#The greatest increase in revenue (date and amount) over the entire period
maxbudget_data["Revenue"].max()